/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */


/*
 * lora
================================================================================ */
@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}


/*
 * montserrat
================================================================================ */
@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Righteous-Regular.ttf";
    src: url("../fonts/Righteous-Regular.ttf") format("ttf"), url("../fonts/Righteous-Regular.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/montserrat/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-medium-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-light-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-extralight";
    src: url("../fonts/montserrat/montserrat-extralight-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-extralight-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "montserrat-thin";
    src: url("../fonts/montserrat/montserrat-thin-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-thin-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}


/*# sourceMappingURL=fonts.css.map */